{% extends "base1.html" %}

{% block title %}
Aceptar 
{% endblock %}


{% block barra_busqueda %}
{% endblock barra_busqueda %}

{% block contenido %}
	<div class="container-fluid">
        <div class="row-fluid">
			<div class="span4">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon">
							<i class="icon-user"></i>
						</span>
						<h5>Ha recibido una donación, descripción: </h5>
					</div>
					<div class="widget-content ">
						<p> <b> Donador:</b> {{ donacion.donador }}</p>
						<p> <b> Objecto o servicio donado:</b> {{ donacion.objecto_servicio }}</p>
						<p> <b> Beneficiado:</b> {{ donacion.receptor }}</p>
						<p> <b> Estado de la donación:</b> {{ donacion.estado }}</p>
						<p> <b> Fecha de realización de la donación:</b> {{ donacion.fecha_donacion }}</p>
						<p>¿ Qué desea hacer con la donación?</p>			
				    				
					<a class="btn btn-primary" href="{% url 'donacion:aceptar' donacion.id producto.id %}">Aceptar</a>
					<a class="btn btn-danger" href="{% url 'donacion:rechazar' donacion.id producto.id %}">Rechazar</a>
				    </div>
				</div>
			</div>
	    </div>	
    </div>
{% endblock contenido %}

