{% extends "base.html" %}

{% block title %}
Intercambios 
{% endblock %}

{% block contenido %}

{% for intercambio in intercambios %}
	{% if intercambio.oferente == request.user or intercambio.receptor == request.user %}
		<div class="container-fluid">
            <div class="row-fluid">
				<div class="span4">
					<div class="widget-box">
						<div class="widget-title">
							<span class="icon">
								<i class="icon-tag"></i>
							</span>
							<h5>{{ intercambio.id|upper }}</h5>
						</div>
						<div class="widget-content ">
							<p> <b>Oferente:</b> {{ intercambio.oferente }}</p>
							<p> <b>Producto 1:</b> {{ intercambio.producto_del_oferente }}</p>	<p> <b>Producto 2:</b> {{ intercambio.producto_del_receptor }}</p>
							<p> <b>Receptor:</b> {{ intercambio.receptor }}</p>
							<p> <b>Estado del intercambio:</b> {{ intercambio.estado }}</p>
							<p> <b>Inicio del intercambio:</b> {{ intercambio.fecha_solicitud_intercambio }}</p>
								{% if intercambio.fecha_aceptacion_intercambio %}
									<p> <b>Fecha de aceptación/recepción del intercambio:</b> {{ intercambio.fecha_aceptacion_intercambio }}</p>
							    {% endif %}	
                                {% if intercambio.estado == "Iniciado" and intercambio.receptor == request.user %}
							    <a class="btn btn-primary" href="">Aceptar</a>
					            <a class="btn btn-danger" href="">Rechazar</a>
					            {% endif %}	
                                {% if intercambio.oferente == request.user and intercambio.estado == "Iniciado" %}
							    <a class="btn btn-danger" href="">Cancelar</a>
					            {% endif %}							            			            
						</div>
					</div>
				</div>
	        </div>	
        </div>
    {% endif %}
{% endfor %}
{% endblock contenido %}

