{% extends "index.html" %}

{% block title %}
Intercambios 
{% endblock %}

{% block contenido %}

<div class="container">
    <div class="row">
              
        {% for intercambio in intercambios %}
        {% if not intercambio and user.request == intercambio.oferente %}
            <div class="container">
                <p>No haz realizado ningún intercambio, te invitamos a hacerlo!!</p>
            </div>
            {% endif %}
            {% if intercambio.oferente == request.user or intercambio.receptor == request.user %}
            <a href="{% url 'intercambio:perfil' intercambio.id %}"> 
            <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">ID: {{ intercambio.id|upper }}</h6>
            <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
            <p> <b>Oferente:</b> {{ intercambio.oferente|capfirst }}</p>
            <p> <b>Producto 1:</b> {{ intercambio.producto_del_oferente|capfirst }}</p>	
            <p> <b>Producto 2:</b> {{ intercambio.producto_del_receptor|capfirst }}</p>
            <p> <b>Receptor:</b> {{ intercambio.receptor|capfirst }}</p>
            <p> <b>Estado del intercambio:</b> {{ intercambio.estado|capfirst }}</p>
            <p> <b>Inicio del intercambio:</b> {{ intercambio.fecha_solicitud_intercambio }}</p>
            {% if intercambio.fecha_aceptacion_intercambio %}
            <p> <b>Fecha de aceptación/recepción del intercambio:</b> {{ intercambio.fecha_aceptacion_intercambio }}</p>
            {% endif %}	
            {% if intercambio.estado == "Iniciado" and intercambio.receptor == request.user %}
            <a type="submit" class="btn btn-primary" href="{% url 'intercambio:aceptar' intercambio.id %}">Aceptar</a>
            <a type="submit" class="btn btn-danger" href="{% url 'intercambio:rechazar' intercambio.id %}">Rechazar</a>
            {% endif %}	
            {% if intercambio.oferente == request.user and intercambio.estado == "Iniciado" %}
            <a type="submit" class="btn btn-primary" href="{% url 'intercambio:modificar' intercambio.id %}">Modificar</a>
            <a type="submit" class="btn btn-danger" href="{% url 'intercambio:cancelar' intercambio.id %}">Cancelar</a>
            {% endif %}							            			            
            </div>
            </div>
            </div>
            </a>
            {% endif %}

 
        {% endfor %}
    </div>
</div>
{% endblock contenido %}

