{% extends "base1.html" %}

{% block title %}Registrar Producto {% endblock %}

{% block barra_busqueda %} {% endblock barra_busqueda %}
{% block contenido %}
<body>
{% for producto in productos %}
<section>
			<div class="container-fluid">
            	<div class="row-fluid">
					<div class="span4">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-briefcase"></i>
								</span>
								<h5>{{ producto.nombre|upper }}</h5>
							</div>
							<div class="widget-content nopadding">


								<p> Descripcion: {{ producto.descripcion}} </p>
								<p> Etiquetas: {{ producto.etiquetas}} </p>
								<p> Estado: {{ producto.estado}} </p>
								<p> Foto: {{ producto.foto}} </p>

							</div>
						</div>
					</div>

	</div>	</div>
</section>

{% endfor %}
{% endblock %}
