{% extends "index.html" %}
{% load static %}
{% block title %}
Productos 
{% endblock %}


{% block contenido %}
  <div class="container">
        <div class="row"> 

	{% for producto in productos %}
    <a href="{% url 'producto:perfil' producto.id %}">        <div class="col-lg-6 mb-4" >
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">{{ producto.nombre|upper }}</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
         

  							<p> <b>Descripción:</b> {{ producto.descripcion|capfirst }} </p>
							<p> <b>Etiquetas:</b> {{ producto.etiquetas|capfirst }} </p>
							<p> <b>Estado:</b> {{ producto.estado|capfirst }} </p>
							<p> <b>Foto:</b>  </p>

							<a class="btn btn-success" href="{% url 'donacion:registrar' %}">Donar</a>
							<a class="btn btn-primary" href="{% url 'producto:modificar' producto.id %}">Modificar</a>
                
                </div>
              </div>
            </div>
</a>	{% endfor %}
</div>
</div>
{% endblock contenido %}
