{% extends "index.html" %}

{% load static %}

{% block title %} 
   Productos 
{% endblock %}

{% block barra_busqueda %}

{% endblock barra_busqueda %}

{% block contenido %}

<div class="col-lg-6 mb-4">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">{{ producto.nombre|capfirst}}</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
      </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
              {% if not producto.foto.url %}
							<img src="{% static 'img/product.jpg' %}" style="width: 550px;">
              {% else %}
              <img src="{{producto.foto.url}}" style="width: 200px;">
              {% endif %}              
						 <hr class="sidebar-divider">
						<p> <b>Descripción:</b> {{ producto.descripcion }} </p>
						<p> <b>Etiquetas:</b> {{ producto.etiquetas }} </p>
						<p> <b>Estado:</b> {{ producto.estado }} </p>
					</div>
				</div>
   </div>
{% endblock contenido %}