{% extends "index.html" %}
{% load static %}

{% block title %}
	Inicio 
{% endblock %}

{% block barra_busqueda %} 
{% endblock barra_busqueda %}

{% block contenido %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xl-3 col-md-6 mb-4">
		  <div class="card border-left-primary shadow h-100 py-2">
		    <div class="card-body">
		      <div class="row no-gutters align-items-center">
		        <div class="col mr-2">
		          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Donaciones Iniciadas</div>
		          <div class="h5 mb-0 font-weight-bold text-gray-800">{{ numero_donaciones_iniciadas }}</div>
		        </div>
		        <div class="col-auto">
		          <i class="fas fa-calendar fa-2x text-gray-300"></i>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
		  <div class="card border-left-success shadow h-100 py-2">
		    <div class="card-body">
		      <div class="row no-gutters align-items-center">
		        <div class="col mr-2">
		          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Intercambios Iniciados</div>
		          <div class="h5 mb-0 font-weight-bold text-gray-800">{{ numero_intercambios_iniciados }}</div>
		        </div>
		        <div class="col-auto">
		          <i class="fas fa-calendar fa-2x text-gray-300"></i>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
		  <div class="card border-left-info shadow h-100 py-2">
		    <div class="card-body">
		      <div class="row no-gutters align-items-center">
		        <div class="col mr-2">
		          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Intercambios finalizados</div>
		          <div class="h5 mb-0 font-weight-bold text-gray-800">{{ numero_intercambios_aceptados }}</div>
		        </div>
		        <div class="col-auto">
		          <i class="fas fa-calendar fa-2x text-gray-300"></i>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>

		  <div class="col-xl-3 col-md-6 mb-4">
		  <div class="card border-left-warning shadow h-100 py-2">
		    <div class="card-body">
		      <div class="row no-gutters align-items-center">
		        <div class="col mr-2">
		          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Intercambios rechazados</div>
		          <div class="h5 mb-0 font-weight-bold text-gray-800">{{ numero_intercambios_rechazados }}</div>
		        </div>
		        <div class="col-auto">
		          <i class="fas fa-calendar fa-2x text-gray-300"></i>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row"> 
		{% for producto in productos %}
			{% if not producto.dueno == request.user and producto.estado == "Vigente" %}
				<div class="col-lg-12 mb-4">
					<div class="card border-bottom-info shadow mb-4 h-100 py-1">
					<!-- Card Header - Dropdown -->
						<a href="#{{ producto.id }}" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="{{ producto.id }}">
							<h6 class="m-0 font-weight-bold text-primary">{{ producto.nombre|upper}}</h6>
						</a>
						<div class="collapse show" id="{{ producto.id }}">
						<!-- Card Body -->
							<div class="card-body">
								<img src="{{producto.foto.url}}" style="width: 200px; border-radius: 8px; height: 200px;">
								<hr class="sidebar-divider">
								<p> <b>Descripción:</b> {{ producto.descripcion|capfirst }} </p>
								<p> <b>Etiquetas:</b> {{ producto.etiquetas|capfirst }} </p>
								<p> <b>Estado:</b> {{ producto.estado|capfirst }} </p>
								{% if not mis_productos == 0 %}
									<a type="submit" class="btn btn-success" href="{% url 'intercambio:registrar_desde_producto' producto.id %}">Solicitar intercambio</a>
								{% endif %}
								{% if mis_productos == 0 %}
									<p>No tienes productos disponibles para solicitar intercambios</p>
								{% endif %}
							</div>
						</div>
					</div>	
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock contenido %}
