{% extends "index.html" %}

{% load static %}

{% block title %} 
   Usuarios 
{% endblock %}



{% block contenido %}

	<div class="container">
				<div class="row">

					{% for usuario in usuarios %}
            <div class="col-lg-6 mb-4">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">{{ usuario.first_name|capfirst}} {{ usuario.last_name|capfirst }}</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">

										<img src="{% static 'img/th2.png' %}" style="width: 150px;">
									<br>
									<p> <b>Teléfono:</b> {{ usuario.telefono}} </p>
									<p> <b>Localización:</b> {{ usuario.localizacion}} </p>
									<p> <b>Correo electrónico:</b> {{ usuario.email}} </p>
								</div>
							</div>
	           </div>
					{% endfor %}         
                </div>
	</div>
{% endblock contenido %}