{% extends "base1.html" %}

{% block title %}Registrar Usuario {% endblock %}

{% block barra_busqueda %} {% endblock barra_busqueda %}
{% block contenido %}
{% for usuario in usuarios %}
<div class="container">
			<div class="container-fluid">
            	<div class="row-fluid">
					<div class="span4">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-user"></i>
								</span>
								<h5>{{ usuario.nombre|upper }}</h5>
							</div>
							<div class="widget-content nopadding">

								<p> Teléfono: {{ usuario.telefono}} </p>
								<p> Localización: {{ usuario.localizacion}} </p>
								<p> Correo electrónico: {{ usuario.email}} </p>

							</div>
						</div>
					</div>

	</div>	</div>
</div>
{% endfor %}
{% endblock %}