{% extends "index.html" %}

{% block title %}
Modificar Usuario 
{% endblock %}

{% block barra_busqueda %}

{% endblock barra_busqueda %}

{% block contenido %}
       
  <div class="span6">
    <div class="widget-box">
      <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
        <h5>Modificar usuario</h5>
      </div>
      <div class="widget-content nopadding">
        <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
          <div class="control-group">
            {% csrf_token %}
          </div>
          <div class="form-actions">{{ form }}
            <br>
            <br>
            <button type="submit">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock contenido %}

