{% extends "base.html" %}

{% load static %}

{% block title %} 
   Usuarios 
{% endblock %}

{% block barra_busqueda %} 

{% endblock barra_busqueda %}


{% block contenido %}

	<div class="container">
				<div class="row">
		                <div class="col-md-4">
							<div class="widget-box">
								<div class="widget-title">
									<span class="icon">
										 <i class="icon-user"></i>
									</span>
									<h5> {{ primer_nombre|capfirst}} {{ usuario.last_name|capfirst }}</h5>
								</div>
								<div class="widget-content ">
									<div class="widget-content">
										<img src="{% static 'img/th2.png' %}" style="width: 150px;">
									</div>
									<br>
									<p> <b>Teléfono:</b> {{ usuario.telefono}} </p>
									<p> <b>Localización:</b> {{ usuario.localizacion}} </p>
									<p> <b>Correo electrónico:</b> {{ usuario.email}} </p>
								</div>
							</div>
	                    </div>      
                </div>
	</div>

{% endblock contenido %}