{% extends "index.html" %}

{% block title %}
Preguntas frecuentes 
{% endblock %}

{% block contenido %}
<body>
<div class="container-fluid">
         <div class="panel-group" id="accordion">
          <div class="col-lg-12 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-1" >
            <div class="panel panel-default">
                  <div class="panel-heading">
                     <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">  1. ¿Es Truek de uso libre?</a>
                     </h4>
                 </div>
                 <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">Sí, Truek es una aplicación web de uso gratuito.</div>
               </div>
            </div>
          </div>
        </div>
            <br>
          <div class="col-lg-12 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-3 py-1" >
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">2. Los datos registrados en Truek son de uso libre?</a>
                     </h4>
                 </div>
                 <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">Sí, los datos de Truek son de libre uso.</div>
               </div>
            </div>
          </div>
        </div>

<br>
          <div class="col-lg-12 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-3 py-1" >
            <div class="panel panel-default">
                  <div class="panel-heading">
                     <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">3. Si sufro de una estafa, Truek responde por ello?</a>
                     </h4>
                 </div>
                 <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">No, Truek solo es un camino para agilizar los procesos de donación o intercambio entre personas pero la responsabilidad recae únicamente sobre los participantes y la información que ellos compartan.</div>
               </div>
            </div>
          </div>
        </div>
<br>
          <div class="col-lg-12 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-3 py-1" >
                  <div class="panel panel-default">
                  <div class="panel-heading">
                     <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">4. Se realiza alguna validación de los datos registrados por los usuarios de Truek?</a>
                     </h4>
                 </div>
                 <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">No, Truek no realiza ningún tipo de validación y no puede garantizar la veracidad de la información registrada por sus usuarios.</div>
               </div>
            </div>
       </div>
     </div>
   </div>
    </div>

</body>
{% endblock contenido %}